.wrapper {
	max-width: 300px;
	width: 100%;
	padding: 20px;
	position: fixed;
	z-index: 90;
	bottom: 50px;
	right: 16px;
	background-color: var(--black-color);
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(200%);
}
.wrapper.show {
	opacity: 1;
	visibility: visible;
	transform: translateX(0%);
}
.success {
	color: var(--white-color);
  background-color: var(--success-color);
}
.error {
	color: var(--white-color);
  background-color: var(--error-color);
}
.content {
	display: flex;
	gap: 10px;
	align-items: flex-start;
}
.icon {
	position: relative;
	top: 3px;
  width: 30px;
}
