.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-bottom: 100px;
}
.settings {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.cards {
    display: flex;
    flex-direction: row;
}
.editButton,
.deleteButton,
.cancelButton {
    cursor: pointer;
    box-sizing: border-box;
}
.cancelButton {
    position: relative;
    top: 7px;
}