.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.submit:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}